@tailwind base;
@tailwind components;
@tailwind utilities;


.searchSugestions{
    @apply px-8 py-3 cursor-pointer w-[440px] hover:bg-dark-bg-secondary-hover;
}

.spawn{
    animation-name: spawn-ani;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes spawn-ani {
    from{
        opacity: 0;
        @apply blur-sm;
    }
    to{
        opacity: 1;
        @apply blur-none;
        
    }
}